        body {
            background-color: #201e1f;
        }

        #name {
            font-family: Roboto, sans-serif;
            color: #ff4000;
            font-weight: 600;
            font-size: 28px;
            margin-left: 10em;
        }

        #foto {
            width: 200px;
            float: left;
            padding: 3px;
            background-color: #ff4000;
            border-radius: 100%;
            margin-left: 50px;
            margin-top: 20px;
        }

        .section-title {
            color: #ff4000;
            line-height: 55px;
            font-family: IBM Plex Sans, sans-serif;
            font-weight: 600;
            font-size: 20px;
        }

        .phrases-section {
            color: #feefdd;
            text-align: justify;
            word-break: normal;
            font-family: IBM Plex Sans, sans-serif;
        }

        .list-styles {
            list-style-type: none;
            margin-bottom: 20px;
            background-color: #201f1a;
            text-align: center;
        }

        .menu-style{
            width: auto;
            display: inline-block;
        }

        .link-styles{
            color: #feefdd;
            font-family: IBM Plex Sans, sans-serif;
            text-decoration: none;
        }
        .link-styles:hover{
            color: #ff4000;
            font-family: IBM Plex Sans, sans-serif;
            text-decoration: none;
        }

        #description-section{
            margin-left: 19em;
            width: 70%;
        }

        .skill-item{
            background-color: #feefdd;
            color: #201f1a;
            text-align: center;
            width: 170px;
            height: 40px;
            padding-top: 2%;
        }

        .header-section{
            padding: 20px;
            background-color: #201f1a;
            width: auto;
        }

        *{
            margin: 35px;
        }