body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  transition: 0.8s;
}

a:hover {
  opacity: 0.6;
  transition: 0.8s;
  color: #FFFFFF;
}

.menu {
  align-items: center;
  background-color: #161316;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font-size: 9px;
  padding: 10px;
  width: 100%;
}

.menu-image img {
  border-radius: 100%;
  margin: 5px 0 15px 0;
  width: 125px;
}

.menu-informations {
  text-align: center;
}

.menu-navigation ul {
  display: flex;
  list-style-type: none;
}

.menu-navigation ul li {
  margin-top: 25px;
  padding-right: 6em;
}

.menu-navigation ul li i{
  font-size: 15px;
}

.hidden-informations {
  display: none;
}

.show-informations {
  display: block;
}

#button-down {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.9em;
  margin: 20px;
  padding: 10px;
}

.tecnologies-list ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-right: 2em;
}

.tecnologies-list ul li{
  margin: 30px;
  width: 180px;
  height: 180px;
  background-color: #161316;
}

hr {
  width: 100px;
}

.soft-skills {
  background-color: #161316;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.9em;
  padding: 30px;
  margin: 0;
}

.soft-skills-list ul{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.soft-skills-list ul li{
  margin: 20px 0;
}

.soft-skills-list ul li i{
  font-size: 3em;
}

@media screen and (min-width: 760px) {

  .technologies {
    margin-top: 0;
    padding-top: 100px;
  }
  
  .soft-skills-list ul{
    flex-direction: row;
  }

  .soft-skills-list ul li{
    margin: 0 20px;
    flex-wrap: wrap;
  }

  .tecnologies-list ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tecnologies-list ul li{
    flex-grow: 2;
  }

  .menu {
    flex-direction: row;
    padding: 0;
    margin: 0;
    position: fixed;
  }

  #button-down {
    display: none;
  }

  .hidden-informations, .show-informations {
    display: flex;
    flex-grow: 2;
    justify-content: space-between;
    padding: 0 10px;
  }

  .menu-informations {
    text-align: start;
  }

  .menu-navigation ul li {
    padding-right: 8em;
  }

  .menu-image img {
    width: 70px;
    margin: 5px 20px;
  }
}